/* ------------------------------------------  RESETS */

* {
	box-sizing: border-box;
}

body, div, header, footer, html, ul, li {
	margin: 0;
	padding: 0;
}

/* ------------------------------------------  BASE */


/* ------------------------------------------  HEADER */


ul .has-submenu:hover > .hidden li {
	display: block;
	pointer: cursor;
}

.hidden li {
	display: none;
}

.full-image {
	height: 100vh;
	width: 100vw;
	background-image: url('https://images.unsplash.com/photo-1502818649806-3460a6c6c293?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=4204ec6df1db10c10538c72884bb8463&auto=format&fit=crop&w=2980&q=80');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
}

.center-text {
	min-width: 500px;
	min-height: 300px;
	background-color: rgba(255, 255, 255, .8);
	display: flex;
	justify-content: center;
	align-items: center;
}

.blog-container {
	max-width: 1200px;
	margin: 0 auto;
	margin-top: -100px;
	background-color: #FFF;
}

.blog-content {
	padding: 100px;

}

/* ------------------------------------------  HEADINGS */
